<div class="grid grid-cols-[1fr_1fr]">
  <div class="photo">
    <img
      src="../../../assets/images/image 4.jpg"
      alt=""
      class="w-[250px] h-[275px] top-[109px] ml-[148.96px] rounded-[14px]"
    />
    <div class="photograpg"></div>
  </div>

  <div class="text-information space-y-5 r">
    <h1
      class="text-[#524e4c] font-montserrat text-[36px] font-semibold leading-normal"
    >
      Bengala
    </h1>
    <p class="text-[#291507] font-montserrat text-20 leading-normal">
      Bengals are a lot of fun to live with, but they're definitely not the cat
      for everyone, or for first-time cat owners. Extremely intelligent, curious
      and active, they demand a lot of interaction and woe betide the owner who
      doesn't provide it.
    </p>

    <ul class="space-y-6 flex flex-col items-start">
      <li><strong>Temperament:</strong> {{ text }}</li>
      <li><strong>Origin:</strong> {{ text }}</li>
      <li><strong>Life Span:</strong> {{ text }}</li>
      <li class="">
        <strong class="mr-2">Adaptability:</strong>
        <app-status-bar [adaptabilityLevel]="3"></app-status-bar>
      </li>
      <li>
        <strong>Affection level:</strong>
        <app-status-bar [adaptabilityLevel]="5"></app-status-bar>
      </li>
      <li>
        <strong>Child Friendly:</strong>
        <app-status-bar [adaptabilityLevel]="4"></app-status-bar>
      </li>
      <li>
        <strong>Grooming: </strong>
        <app-status-bar [adaptabilityLevel]="1"></app-status-bar>
      </li>
      <li>
        <strong>Health Issues: </strong>
        <app-status-bar [adaptabilityLevel]="3"></app-status-bar>
      </li>

      <li>
        <strong>Social Needs:</strong>
        <app-status-bar [adaptabilityLevel]="5"></app-status-bar>
      </li>

      <li>
        <strong>Stranger Friendly:</strong>
        <app-status-bar [adaptabilityLevel]="2"></app-status-bar>
      </li>
    </ul>
  </div>
</div>

<div class="other-cats mt-24 text-[40px]">
  <h1>
    Other photos
  </h1>
  <div class="grid grid-rows-4 grid-cols-4 space-y-2 image-container">
    <img src="../../../assets/images/image 4.jpg" alt="">
    <img src="../../../assets/images/image 4.jpg" alt="">
    <img src="../../../assets/images/image 4.jpg" alt="">
    <img src="../../../assets/images/image 4.jpg" alt="">
    <img src="../../../assets/images/image 4.jpg" alt="">
    <img src="../../../assets/images/image 4.jpg" alt="">
    <img src="../../../assets/images/image 4.jpg" alt="">
    <img src="../../../assets/images/image 4.jpg" alt="">

</div>